@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

$particleSize: 150/2;
$contentWidth: 540;
$contentHeight: 280;

.particle {
  @include rect(2 * $particleSize * $PX);
  position: absolute;
  @include nw(0);
  text-align: center;
  display: block;
  line-height: (2 * $particleSize) * $PX;

  &__inner {
    @include circle(100%);
    position: absolute;
    @include nw(0);
  }
}
